<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <% if current_user %>
    <a class="btn btn-ghost" href="#">Add your art !</a>
    <% end %>
  </div>
</div>

<%= current_user.name %>


<div class="card">
  <div class="grid">
    <% @artworks.photo.each do |artwork| %>
      <%= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill  %>
    <% end %>
    <div class="card-infos">
      <div>
        <% @artworks.each do |artwork| %>
          <h2><%= artwork.title %></h2>
          <h2><%= artwork.author %></h2>
          <%# <%= link_to artwork.author, user_id_path a finir day 4%>
          <p>Short description here!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
