<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <% if current_user %>
    <a class="btn btn-ghost" href="#">Add your art !</a>
    <% end %>
  </div>
</div>

<%# <%= current_user.name %>

<div class="container">
      <div class="card">
        <% @artworks.each do |artwork| %>
          <div class="card-img">
            <%= cl_image_tag artwork.photo.key %>
              <div class="card-infos">
                <h2><%= artwork.title %></h2>
                <h2><%= artwork.author %></h2>
                <%# <%= link_to artwork.author, user_id_path a finir day 4%>
            </div>
          </div>
        <% end %>
      </div>
</div>
