
<h1> Rent <%= @artwork.title %> by <%= @artwork.author %></h1>

<div class="container d-flex justify-content-center">
  <div class="card-trip">
    <%= cl_image_tag @artwork.photo.key, height: 400, width: 400, crop: :fill  %>
    <div class="card-trip-infos">
      <div class ="show-artwork-details">
        <table width="100%" cellspacing="1" cellpadding="5">
          <tr>
            <td class = "card-desc-placeholder">Artist : </td>
            <td class = "card-desc-real-data"><%= @artwork.author %></td>
          </tr>
          <tr>
            <td class = "card-desc-placeholder">Artwork title : </td>
            <td class = "card-desc-real-data"><%= @artwork.title %></td>
          </tr>
          <tr>
            <td class = "card-desc-placeholder">Type : </td>
            <td class = "card-desc-real-data"><%= @artwork.denomination %></td>
          </tr>
          <tr>
            <td class = "card-desc-placeholder">Creation Date : </td>
            <td class = "card-desc-real-data"><%= @artwork.creation_date %></td>
          </tr>
          <tr>
            <td class = "card-desc-placeholder">Available in : </td>
            <td class = "card-desc-real-data"><%= @artwork.address %></td>
          </tr>
        </table>
      </div>
      <h2 class="card-trip-pricing">From : <%= @artwork.price %>€ /jour</h2>
      <a href="#" class = "btn btn-primary btn-show"> Book now</a>
    </div>
  </div>
</div>
