<div class="container">
<%# navbar %>

<%=@artworks.title %>
<%=@artworks.author %>
<%=@artworks.creation_date %>
<%=@artworks.type %>
<%=@artworks.price %>
<%=@artworks.user_id %>

<%= simple_form_for(@booking) do |f| %>
  <%# <%= f.input :title %> 
  <%# <%= f.input :user_id %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%# <% <%= f.input :price  %>
  <%= f.submit "Proceed to payment", class: "btn btn-success" %>
<% end %>
 
</div>