  <div class="container">
        <div class="card">
          <% current_user.bookings.each do |booking| %>
            <div class="card-img">
            <%= link_to artwork_path(booking.artwork) do %>
              <%= cl_image_tag booking.artwork.photo.key %>
              <% end %>
                <div class="card-infos">
                  <h2><%= booking.artwork.title %></h2>
                  <h2><%= booking.artwork.author %></h2>
                  <h2><%= booking.start_date %></h2>
                  <h2><%= booking.end_date %></h2>
                  <%# <h2><%= booking.price %></h2>
                  <%# <h2><%= booking.status %></h2> %> %>
                </div>
            </div>
          <% end %>
        </div>
  </div>
